In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("./Renewable_Energy.csv")
df1.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Technology,Energy_Type,Unit,Source,CTS_Name,...,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022,F2023
0,1,Advanced Economies,NaN,AETMP,Electricity Generation,Bioenergy,Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,250919.577,263542.750,274561.810,281658.673,286653.446,292379.608,294178.354,306827.472,297837.826,NaN
1,2,Advanced Economies,NaN,AETMP,Electricity Installed Capacity,Bioenergy,Total Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,Electricity Installed Capacity,...,48343.151,50522.206,52940.018,55311.101,58206.997,59946.258,60789.850,59564.440,60934.763,62146.697
2,3,Advanced Economies,NaN,AETMP,Electricity Generation,Fossil fuels,Total Non-Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,5957377.370,5895105.081,5863974.474,5730416.734,5785386.448,5546081.830,5240196.496,5401739.239,5387109.662,NaN
3,4,Advanced Economies,NaN,AETMP,Electricity Installed Capacity,Fossil fuels,Total Non-Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,Electricity Installed Capacity,...,1542498.011,1516740.809,1503912.875,1501356.722,1512610.754,1485733.713,1477595.925,1476335.267,1470127.235,1464243.522
4,5,Advanced Economies,NaN,AETMP,Electricity Generation,Hydropower (excl. Pumped Storage),Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,1250083.974,1229010.224,1243652.987,1271436.807,1270052.391,1244244.740,1276615.396,1236759.800,1188216.136,NaN

In [3]:
df2 = pd.read_excel("./country-longitude-latitude.xlsx", sheet_name="Sheet1")
df2['ISO2'] = df2["country"]
df2["ISO2"]

0      AD
1      AE
2      AF
3      AG
4      AI
       ..
240    YE
241    YT
242    ZA
243    ZM
244    ZW
Name: ISO2, Length: 245, dtype: object

In [4]:
df = df1.merge(df2,on="ISO2")
df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Technology,Energy_Type,Unit,Source,CTS_Name,...,F2018,F2019,F2020,F2021,F2022,F2023,country,latitude,longitude,name
0,1,Advanced Economies,NaN,AETMP,Electricity Generation,Bioenergy,Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,286653.446,292379.608,294178.354,306827.472,297837.826,NaN,NaN,-22.95764,18.49041,Namibia
1,2,Advanced Economies,NaN,AETMP,Electricity Installed Capacity,Bioenergy,Total Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,Electricity Installed Capacity,...,58206.997,59946.258,60789.850,59564.440,60934.763,62146.697,NaN,-22.95764,18.49041,Namibia
2,3,Advanced Economies,NaN,AETMP,Electricity Generation,Fossil fuels,Total Non-Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,5785386.448,5546081.830,5240196.496,5401739.239,5387109.662,NaN,NaN,-22.95764,18.49041,Namibia
3,4,Advanced Economies,NaN,AETMP,Electricity Installed Capacity,Fossil fuels,Total Non-Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,Electricity Installed Capacity,...,1512610.754,1485733.713,1477595.925,1476335.267,1470127.235,1464243.522,NaN,-22.95764,18.49041,Namibia
4,5,Advanced Economies,NaN,AETMP,Electricity Generation,Hydropower (excl. Pumped Storage),Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,1270052.391,1244244.740,1276615.396,1236759.800,1188216.136,NaN,NaN,-22.95764,18.49041,Namibia

In [5]:
df.columns

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Technology',
       'Energy_Type', 'Unit', 'Source', 'CTS_Name', 'CTS_Code',
       'CTS_Full_Descriptor', 'F2000', 'F2001', 'F2002', 'F2003', 'F2004',
       'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010', 'F2011', 'F2012',
       'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020',
       'F2021', 'F2022', 'F2023', 'country', 'latitude', 'longitude', 'name'],
      dtype='object')

In [6]:
df = df[['ISO2', 'latitude', 'longitude','F2023','Technology']]
df.head()

  ISO2  latitude  longitude        F2023                         Technology
0  NaN -22.95764   18.49041          NaN                          Bioenergy
1  NaN -22.95764   18.49041    62146.697                          Bioenergy
2  NaN -22.95764   18.49041          NaN                       Fossil fuels
3  NaN -22.95764   18.49041  1464243.522                       Fossil fuels
4  NaN -22.95764   18.49041          NaN  Hydropower (excl. Pumped Storage)

In [7]:
df = df.dropna(how='any')
df.head()

    ISO2   latitude  longitude    F2023                         Technology
273   AF  33.939110  67.709953  276.661                       Fossil fuels
275   AF  33.939110  67.709953  459.138  Hydropower (excl. Pumped Storage)
277   AF  33.939110  67.709953   33.243                       Solar energy
279   AF  33.939110  67.709953    0.400                        Wind energy
280   AL  41.153332  20.168331    1.425                          Bioenergy

In [8]:
df.to_csv("energy_choice_country.csv")

In [9]:
df = df1.merge(df2,on="ISO2")
df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Technology,Energy_Type,Unit,Source,CTS_Name,...,F2018,F2019,F2020,F2021,F2022,F2023,country,latitude,longitude,name
0,1,Advanced Economies,NaN,AETMP,Electricity Generation,Bioenergy,Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,286653.446,292379.608,294178.354,306827.472,297837.826,NaN,NaN,-22.95764,18.49041,Namibia
1,2,Advanced Economies,NaN,AETMP,Electricity Installed Capacity,Bioenergy,Total Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,Electricity Installed Capacity,...,58206.997,59946.258,60789.850,59564.440,60934.763,62146.697,NaN,-22.95764,18.49041,Namibia
2,3,Advanced Economies,NaN,AETMP,Electricity Generation,Fossil fuels,Total Non-Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,5785386.448,5546081.830,5240196.496,5401739.239,5387109.662,NaN,NaN,-22.95764,18.49041,Namibia
3,4,Advanced Economies,NaN,AETMP,Electricity Installed Capacity,Fossil fuels,Total Non-Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,Electricity Installed Capacity,...,1512610.754,1485733.713,1477595.925,1476335.267,1470127.235,1464243.522,NaN,-22.95764,18.49041,Namibia
4,5,Advanced Economies,NaN,AETMP,Electricity Generation,Hydropower (excl. Pumped Storage),Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,1270052.391,1244244.740,1276615.396,1236759.800,1188216.136,NaN,NaN,-22.95764,18.49041,Namibia

In [10]:
df["Energy_Type"].value_counts()

Energy_Type
Total Renewable        1556
Total Non-Renewable     488
Name: count, dtype: int64

In [11]:
df.columns

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Technology',
       'Energy_Type', 'Unit', 'Source', 'CTS_Name', 'CTS_Code',
       'CTS_Full_Descriptor', 'F2000', 'F2001', 'F2002', 'F2003', 'F2004',
       'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010', 'F2011', 'F2012',
       'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020',
       'F2021', 'F2022', 'F2023', 'country', 'latitude', 'longitude', 'name'],
      dtype='object')

In [12]:
df = df[['ISO2','Energy_Type', 'F2000', 'F2001', 'F2002', 'F2003', 'F2004',
       'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010', 'F2011', 'F2012',
       'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020',
       'F2021', 'F2022', 'F2023', 'country']]
df.head()

,ISO2,Energy_Type,F2000,F2001,F2002,F2003,F2004,F2005,F2006,F2007,...,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022,F2023,country
0,NaN,Total Renewable,109628.668,106082.875,115399.651,122991.148,134882.703,150757.179,160685.614,169043.661,...,263542.750,274561.810,281658.673,286653.446,292379.608,294178.354,306827.472,297837.826,NaN,NaN
1,NaN,Total Renewable,17606.311,20451.753,21152.848,23122.542,24818.881,28101.663,30757.244,31862.422,...,50522.206,52940.018,55311.101,58206.997,59946.258,60789.850,59564.440,60934.763,62146.697,NaN
2,NaN,Total Non-Renewable,5563047.840,5503633.424,5683289.966,5841662.480,5918503.965,6049546.885,6068117.910,6279259.939,...,5895105.081,5863974.474,5730416.734,5785386.448,5546081.830,5240196.496,5401739.239,5387109.662,NaN,NaN
3,NaN,Total Non-Renewable,1267681.571,1265629.258,1351004.715,1397287.372,1422326.361,1438534.309,1452446.983,1468869.440,...,1516740.809,1503912.875,1501356.722,1512610.754,1485733.713,1477595.925,1476335.267,1470127.235,1464243.522,NaN
4,NaN,Total Renewable,1219908.376,1115048.713,1178832.389,1134305.816,1163700.684,1186719.730,1184375.244,1163864.435,...,1229010.224,1243652.987,1271436.807,1270052.391,1244244.740,1276615.396,1236759.800,1188216.136,NaN,NaN

In [13]:
df = df.groupby(by=["ISO2","Energy_Type"]).sum()
df.head()

                              F2000      F2001      F2002      F2003
ISO2 Energy_Type
AD   Total Non-Renewable      0.000      0.000      0.000      0.000  \
     Total Renewable        110.000    110.000    110.000    110.000
AE   Total Non-Renewable  48224.000  51783.000  55986.000  61622.000
     Total Renewable          0.000      0.000      0.000      0.000
AF   Total Non-Renewable     61.365     61.365     61.365    147.134

                              F2004      F2005      F2006      F2007
ISO2 Energy_Type
AD   Total Non-Renewable      0.000      0.000      0.000      0.000  \
     Total Renewable        124.000    115.000    109.000    111.000
AE   Total Non-Renewable  66268.000  75468.000  82633.000  96461.000
     Total Renewable          0.000      0.000      0.000      0.000
AF   Total Non-Renewable    322.943    322.943    322.943    362.371

                               F2008       F2009  ...       F2015       F2016
ISO2 Energy_Type                                  ...
AD   Total Non-Renewable       0.000       0.000  ...       0.000       2.902  \
     Total Renewable         129.700     132.000  ...     150.948     150.021
AE   Total Non-Renewable  100277.000  106246.672  ...  155838.088  158204.750
     Total Renewable           0.000      16.491  ...     440.208     458.047
AF   Total Non-Renewable     353.186     322.711  ...     383.324     384.979

                               F2017       F2018       F2019       F2020
ISO2 Energy_Type
AD   Total Non-Renewable       5.931       6.772       7.276       5.517  \
     Total Renewable         154.096     187.520     211.873     196.253
AE   Total Non-Renewable  164423.383  165885.538  166094.642  163581.095
     Total Renewable        1104.944    1804.804    5599.691    7527.902
AF   Total Non-Renewable     400.279     429.591     453.371     428.451

                               F2021       F2022      F2023       country
ISO2 Energy_Type
AD   Total Non-Renewable       8.693       7.231      1.700          ADAD
     Total Renewable         152.335     142.910     55.352  ADADADADADAD
AE   Total Non-Renewable  164950.300  160207.150  33512.000          AEAE
     Total Renewable        9265.178   11379.314   6035.238  AEAEAEAEAEAE
AF   Total Non-Renewable     534.441     511.541    276.661          AFAF

[5 rows x 25 columns]

In [14]:
df = df.reset_index()
df.head()

,ISO2,Energy_Type,F2000,F2001,F2002,F2003,F2004,F2005,F2006,F2007,...,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022,F2023,country
0,AD,Total Non-Renewable,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,2.902,5.931,6.772,7.276,5.517,8.693,7.231,1.700,ADAD
1,AD,Total Renewable,110.000,110.000,110.000,110.000,124.000,115.000,109.000,111.000,...,150.948,150.021,154.096,187.520,211.873,196.253,152.335,142.910,55.352,ADADADADADAD
2,AE,Total Non-Renewable,48224.000,51783.000,55986.000,61622.000,66268.000,75468.000,82633.000,96461.000,...,155838.088,158204.750,164423.383,165885.538,166094.642,163581.095,164950.300,160207.150,33512.000,AEAE
3,AE,Total Renewable,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,440.208,458.047,1104.944,1804.804,5599.691,7527.902,9265.178,11379.314,6035.238,AEAEAEAEAEAE
4,AF,Total Non-Renewable,61.365,61.365,61.365,147.134,322.943,322.943,322.943,362.371,...,383.324,384.979,400.279,429.591,453.371,428.451,534.441,511.541,276.661,AFAF

In [15]:
df = df.dropna(how="any")
df.head()

,ISO2,Energy_Type,F2000,F2001,F2002,F2003,F2004,F2005,F2006,F2007,...,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022,F2023,country
0,AD,Total Non-Renewable,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,2.902,5.931,6.772,7.276,5.517,8.693,7.231,1.700,ADAD
1,AD,Total Renewable,110.000,110.000,110.000,110.000,124.000,115.000,109.000,111.000,...,150.948,150.021,154.096,187.520,211.873,196.253,152.335,142.910,55.352,ADADADADADAD
2,AE,Total Non-Renewable,48224.000,51783.000,55986.000,61622.000,66268.000,75468.000,82633.000,96461.000,...,155838.088,158204.750,164423.383,165885.538,166094.642,163581.095,164950.300,160207.150,33512.000,AEAE
3,AE,Total Renewable,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,440.208,458.047,1104.944,1804.804,5599.691,7527.902,9265.178,11379.314,6035.238,AEAEAEAEAEAE
4,AF,Total Non-Renewable,61.365,61.365,61.365,147.134,322.943,322.943,322.943,362.371,...,383.324,384.979,400.279,429.591,453.371,428.451,534.441,511.541,276.661,AFAF

In [16]:
import pandas as pd

def reshape_energy_data(df):
    # 1. 识别年份列
    year_columns = [col for col in df.columns if col.startswith('F') and col[1:].isdigit()]
    
    # 2. 使用melt函数将宽格式转换为长格式
    melted_df = pd.melt(
        df,
        # 保持country和energy_type作为标识符
        id_vars=['ISO2', 'Energy_Type'],
        # 年份列作为变量列
        value_vars=year_columns,
        # 设置新的列名
        var_name='year',
        value_name='value'
    )
    
    # 3. 清理年份列，移除'F'前缀
    melted_df['year'] = melted_df['year'].str[1:].astype(int)
    
    # 4. 将energy_type从indexISO2Energy_Type中提取出来
    melted_df['energy_type'] = melted_df['Energy_Type'].str.split('_').str[-1]
    
    # 5. 删除原始的indexISO2Energy_Type列
    melted_df = melted_df.drop('Energy_Type', axis=1)
    
    # 6. 重新排序列
    result = melted_df[['year', 'value', 'ISO2', 'energy_type']]
    
    # 7. 按年份和国家排序
    result = result.sort_values(['year', 'ISO2'])
    
    return result

# 使用示例:
# result_df = reshape_energy_data(your_dataframe)
df = reshape_energy_data(df)
df.head()

   year      value ISO2          energy_type
0  2000      0.000   AD  Total Non-Renewable
1  2000    110.000   AD      Total Renewable
2  2000  48224.000   AE  Total Non-Renewable
3  2000      0.000   AE      Total Renewable
4  2000     61.365   AF  Total Non-Renewable

In [17]:
specific_country = "FI"

country_sums = df.groupby("ISO2")["value"].sum()
threshold = country_sums.quantile(0.95)
top_countries = list(country_sums[country_sums > threshold].index)
if specific_country not in top_countries:
    top_countries.append(specific_country)

In [18]:
filtered_df = df[df["ISO2"].isin(top_countries)].copy()
filtered_df.head(20)

     year        value ISO2          energy_type
50   2000    35528.953   BR  Total Non-Renewable
51   2000   376001.785   BR      Total Renewable
62   2000   197588.000   CA  Total Non-Renewable
63   2000   436452.165   CA      Total Renewable
80   2000  1350207.600   CN  Total Non-Renewable
81   2000   298681.620   CN      Total Renewable
94   2000   440292.000   DE  Total Non-Renewable
95   2000    47281.500   DE      Total Renewable
118  2000    33053.000   FI  Total Non-Renewable
119  2000    27840.576   FI      Total Renewable
132  2000   339257.000   GB  Total Non-Renewable
133  2000    12885.000   GB      Total Renewable
178  2000   556600.794   IN  Total Non-Renewable
179  2000   102620.167   IN      Total Renewable
186  2000   271111.000   IT  Total Non-Renewable
187  2000    63487.946   IT      Total Renewable
192  2000   782909.000   JP  Total Non-Renewable
193  2000   116860.000   JP      Total Renewable
208  2000   211184.000   KR  Total Non-Renewable
209  2000     5731.500   KR      Total Renewable

In [19]:
filtered_df.to_csv("timeline_country_energy_choice.csv")

In [23]:
data = pd.read_spss("Data_636.sav")
data.head()

,sys_RespNum,sys_StartTime,sys_EndTime,sys_ElapsedTime,sys_SumPageTimes,sys_StartTimeStamp,sys_EndTimeStamp,sys_DataSource,sys_RespStatus,sys_RespRemoved,...,EGOISMcenter,HEDONISMcenter,BIOSPHERICcenter,ALTRUISM,EGOISM,HEDONISM,BIOSPHERIC,CLU4,CLU3,Nreallife
0,573.0,17 Feb 2022 - 18:38:34 CET,17 Feb 2022 - 19:01:31 CET,1377.0,1407.0,1.645120e+09,1.645121e+09,1.0,5.0,0.0,...,-1.3500,-0.083333,1.5000,4.00,2.4,3.666667,5.25,1.0,1.0,7.0
1,999999506.0,17 Feb 2022 - 17:30:27 CET,17 Feb 2022 - 17:43:03 CET,756.0,754.0,1.645115e+09,1.645116e+09,1.0,5.0,0.0,...,-2.5875,1.479167,1.3125,6.00,2.6,6.666667,6.50,2.0,2.0,10.0
2,133.0,15 Feb 2022 - 18:57:57 CET,15 Feb 2022 - 19:19:10 CET,1273.0,1269.0,1.644948e+09,1.644949e+09,1.0,5.0,0.0,...,-1.2750,-0.541667,0.6250,4.25,1.6,2.333333,3.50,3.0,3.0,9.0
3,167.0,16 Feb 2022 - 00:25:18 CET,16 Feb 2022 - 00:36:00 CET,642.0,638.0,1.644968e+09,1.644968e+09,1.0,5.0,0.0,...,-2.1250,0.875000,1.3750,5.75,3.0,6.000000,6.50,4.0,3.0,10.0
4,346.0,16 Feb 2022 - 14:11:04 CET,16 Feb 2022 - 14:22:15 CET,671.0,668.0,1.645017e+09,1.645018e+09,1.0,5.0,0.0,...,-0.5625,-1.229167,0.6875,3.50,2.0,1.333333,3.25,3.0,3.0,9.0

In [25]:
data.columns.to_list()

['sys_RespNum',
 'sys_StartTime',
 'sys_EndTime',
 'sys_ElapsedTime',
 'sys_SumPageTimes',
 'sys_StartTimeStamp',
 'sys_EndTimeStamp',
 'sys_DataSource',
 'sys_RespStatus',
 'sys_RespRemoved',
 'sys_DispositionCode',
 'sys_LastQuestion',
 'sys_UserJavaScript',
 'sys_UserAgent',
 'sys_OperatingSystem',
 'sys_Browser',
 'sys_ScreenWidth',
 'sys_CAPIDeviceID',
 'tic',
 'Consent1new',
 'Consent2new',
 'Consent3new',
 'AttentionCheck',
 'Age',
 'Education',
 'Gender',
 'Nationality',
 'Income',
 'Canton',
 'CitySize',
 'OwnOrRent',
 'NoHuouseholders',
 'BillPayer',
 'CurrentRenewables',
 'CurrentRenewables_1_other',
 'CurrentPricekWh',
 'CurrentPricekWh_1_other',
 'Appliances_r1',
 'Appliances_r2',
 'ownsPV',
 'Appliances_r3',
 'Appliances_r4',
 'ComprehCheckRenewa',
 'ComprehCheckInvestment',
 'ComprehCheckTrade',
 'ComprehCheckPricing',
 'ComprehCheckCost',
 'CBCMelanieStudy1_Random1',
 'CBCMelanieStudy1_Random1_none',
 'CBCMelanieStudy1_Random2',
 'CBCMelanieStudy1_Random2_none',
 'CBCMelanieStudy1_Random3',
 'CBCMelanieStudy1_Random3_none',
 'CBCMelanieStudy1_Random4',
 'CBCMelanieStudy1_Random4_none',
 'CBCMelanieStudy1_Random5',
 'CBCMelanieStudy1_Random5_none',
 'CBCMelanieStudy1_Random6',
 'CBCMelanieStudy1_Random6_none',
 'CBCMelanieStudy1_Random7',
 'CBCMelanieStudy1_Random7_none',
 'CBCMelanieStudy1_Random8',
 'CBCMelanieStudy1_Random8_none',
 'CBCMelanieStudy1_Random9',
 'CBCMelanieStudy1_Random9_none',
 'CBCMelanieStudy1_Random10',
 'CBCMelanieStudy1_Random10_none',
 'LocalAcquaintances',
 'LocalPreference',
 'PoliticalOrientation',
 'RiskSeeking',
 'Big5_r1',
 'Big5_r2',
 'Big5_r3',
 'Big5_r4',
 'Big5_r5',
 'Big5_r6',
 'Big5_r7',
 'Big5_r8',
 'Big5_r9',
 'Big5_r10',
 'PlaceAttachment_r1',
 'PlaceAttachment_r2',
 'PlaceAttachment_r3',
 'PlaceAttachment_r4',
 'PlaceAttachment_r5',
 'PlaceAttachment_r6',
 'PlaceAttachment_r7',
 'ClimateChangeConcern_r1',
 'ClimateChangeConcern_r2',
 'ClimateChangeConcern_r3',
 'ClimateChangeConcern_r4',
 'ClimateChangeConcern_r5',
 'ClimateChangeConcern_r6',
 'ClimateChangeConcern_r7',
 'ClimateChangeConcern_r8',
 'EnergySecurityConcern_r1',
 'EnergySecurityConcern_r2',
 'EnergySecurityConcern_r3',
 'EnergySecurityConcern_r4',
 'EnergyLiteracy_r1',
 'EnergyLiteracy_r2',
 'EnergyLiteracy_r3',
 'EnergyLiteracy_r4',
 'EnergyLiteracy_r5',
 'EnergyLiteracy_r6',
 'TrustEnergy_r1',
 'TrustEnergy_r2',
 'TrustEnergy_r3',
 'TrustSocial_r1',
 'TrustSocial_r2',
 'TrustSocial_r3',
 'ValueScale_r1',
 'ValueScale_r2',
 'ValueScale_r3',
 'ValueScale_r4',
 'ValueScale_r5',
 'ValueScale_r6',
 'ValueScale_r7',
 'ValueScale_r8',
 'ValueScale_r9',
 'ValueScale_r10',
 'ValueScale_r11',
 'ValueScale_r12',
 'ValueScale_r13',
 'ValueScale_r14',
 'ValueScale_r15',
 'ValueScale_r16',
 'sys_CBCVersion_CBCMelanieStudy1',
 'sys_CBCDesignID_CBCMelanieStudy1',
 'sys_pagetime_1',
 'sys_pagetime_2',
 'sys_pagetime_3',
 'sys_pagetime_4',
 'sys_pagetime_5',
 'sys_pagetime_6',
 'sys_pagetime_7',
 'sys_pagetime_8',
 'sys_pagetime_9',
 'sys_pagetime_10',
 'sys_pagetime_11',
 'sys_pagetime_12',
 'sys_pagetime_13',
 'sys_pagetime_14',
 'sys_pagetime_15',
 'sys_pagetime_16',
 'sys_pagetime_17',
 'sys_pagetime_18',
 'sys_pagetime_19',
 'sys_pagetime_20',
 'sys_pagetime_21',
 'sys_pagetime_22',
 'sys_pagetime_23',
 'sys_pagetime_24',
 'sys_pagetime_25',
 'sys_pagetime_26',
 'sys_pagetime_27',
 'sys_pagetime_28',
 'sys_OriginalRespondentNumber',
 'sys_OriginalFile',
 'sys_OriginalRespondentSignature',
 'sys_SequentialRespNum',
 'Analysisrun2_Utilities_Raw_b100grünb',
 'Analysisrun2_Utilities_Raw_b80grünb',
 'Analysisrun2_Utilities_Raw_b60grünb',
 'Analysisrun2_Utilities_Raw_fontsize2colorSiesind_B',
 'Analysisrun2_Utilities_Raw_fontsize2colorSiesind_A',
 'Analysisrun2_Utilities_Raw_fontsize2colorSiesind',
 'Analysisrun2_Utilities_Raw_fontsize2colorfontbF',
 'Analysisrun2_Utilities_Raw_fontsize2coloranderenf',
 'Analysisrun2_Utilities_Raw_fontsize2colorkleinenund',
 'Analysisrun2_Utilities_Raw_bfixbfontsize2color',
 'Analysisrun2_Utilities_Raw_bdynamischbfontsize2col',
 'Analysisrun2_Utilities_Raw_bpersonalisiertbfontsize2',
 'Analysisrun2_Utilities_Raw_b20günstigerbfontsize2',
 'Analysisrun2_Utilities_Raw_bgenausovielbfontsize2c',
 'Analysisrun2_Utilities_Raw_b20teurerbfontsize2col',
 'Analysisrun2_Utilities_Raw_NONE',
 'Analysisrun2_Utilities_Zerocentered_b100grünb',
 'Analysisrun2_Utilities_Zerocentered_b80grünb',
 'Analysisrun2_Utilities_Zerocentered_b60grünb',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colorS_B',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colorS_A',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colorS',
 'Analysisrun2_Utilities_Zerocentered_fontsize2color',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colora',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colork',
 'Analysisrun2_Utilities_Zerocentered_bfixbfontsize2',
 'Analysisrun2_Utilities_Zerocentered_bdynamischbfontsi',
 'Analysisrun2_Utilities_Zerocentered_bpersonalisiertbfon',
 'Analysisrun2_Utilities_Zerocentered_b20günstigerbfont',
 'Analysisrun2_Utilities_Zerocentered_bgenausovielbfont',
 'Analysisrun2_Utilities_Zerocentered_b20teurerbfontsi',
 'Analysisrun2_Utilities_Zerocentered_NONE',
 'Analysisrun2_Importances_GrünerStromspanclasstool_tip_lin',
 'Analysisrun2_Importances_SolarInvestitionspanclasstool_ti',
 'Analysisrun2_Importances_Handelmitspanclasstool_tip_link',
 'Analysisrun2_Importances_PreiskWhspanclasstool_tip_link',
 'Analysisrun2_Importances_Kostenspanclasstool_tip_linkf',
 'EnergyLiteracy',
 'ownsEV',
 'ownsStorage',
 'ownsHeatPump',
 'PlaceAttachment',
 'EnergySecurity',
 'ClimateChangeConcern',
 'hedonicValues',
 'egoisticValues',
 'altruisticValues',
 'biosphericValues',
 'GenderMF',
 'NlocalAcquitances',
 'HLlocalAcquitances',
 'InterestEV',
 'InterestPV',
 'InterestBATTERY',
 'InterestHP',
 'BFI_Extraversion',
 'BFI_Agreeableness',
 'BFI_Conscientiousness',
 'BFI_Neuroticism',
 'BFI_Openness',
 'ESS_Trust',
 'Energy_Trust',
 'Social_ESS_Trust',
 'ALT_equality',
 'BIO_respecting',
 'EGO_socialpower',
 'HED_pleasure',
 'BIO_unitynature',
 'ALT_worldpeace',
 'EGO_wealth',
 'EGO_authority',
 'ALT_socialJustice',
 'HED_enjoylife',
 'BIO_protecting',
 'EGO_influential',
 'ALT_helpful',
 'BIO_preventing',
 'HED_selfindulgent',
 'EGO_ambitious',
 'MRAT',
 'ALTRUISMcenter',
 'EGOISMcenter',
 'HEDONISMcenter',
 'BIOSPHERICcenter',
 'ALTRUISM',
 'EGOISM',
 'HEDONISM',
 'BIOSPHERIC',
 'CLU4',
 'CLU3',
 'Nreallife']

In [ ]:
# 收入 - 愿意为renewable energy 付费
# 愿意为renewable energy 付费 - 能源价格波动
# 气候变化担忧 - Monthly cost
# columns - 收入 - 愿意为renewable energy 付费 - 能源价格波动 - 气候变化担忧 - Monthly cost
#           'Income',\
target_columns = [ 'CurrentRenewables', 'CurrentRenewables_1_other', 'CurrentPricekWh', 'CurrentPricekWh_1_other',\
'ClimateChangeConcern_r1', 'ClimateChangeConcern_r2', 'ClimateChangeConcern_r3', 'ClimateChangeConcern_r4',\
'ClimateChangeConcern_r5', 'ClimateChangeConcern_r6', 'ClimateChangeConcern_r7', 'ClimateChangeConcern_r8',\
'Analysisrun2_Utilities_Raw_b100grünb', 'Analysisrun2_Utilities_Raw_b80grünb', 'Analysisrun2_Utilities_Raw_b60grünb',\
'Analysisrun2_Utilities_Zerocentered_b100grünb', 'Analysisrun2_Utilities_Zerocentered_b80grünb', 'Analysisrun2_Utilities_Zerocentered_b60grünb', \
'Analysisrun2_Utilities_Raw_b20günstigerbfontsize2', 'Analysisrun2_Utilities_Raw_bgenausovielbfontsize2c', 'Analysisrun2_Utilities_Raw_b20teurerbfontsize2col', \
'Analysisrun2_Utilities_Zerocentered_b20günstigerbfont', 'Analysisrun2_Utilities_Zerocentered_bgenausovielbfont', 'Analysisrun2_Utilities_Zerocentered_b20teurerbfontsi', \
'ClimateChangeConcern']

data = data[target_columns]
data.head()

,CurrentRenewables,CurrentPricekWh,ClimateChangeConcern_r1,ClimateChangeConcern_r2,ClimateChangeConcern_r3,ClimateChangeConcern_r4,ClimateChangeConcern_r5,ClimateChangeConcern_r6,ClimateChangeConcern_r7,ClimateChangeConcern_r8,...,Analysisrun2_Utilities_Zerocentered_b100grünb,Analysisrun2_Utilities_Zerocentered_b80grünb,Analysisrun2_Utilities_Zerocentered_b60grünb,Analysisrun2_Utilities_Raw_b20günstigerbfontsize2,Analysisrun2_Utilities_Raw_bgenausovielbfontsize2c,Analysisrun2_Utilities_Raw_b20teurerbfontsize2col,Analysisrun2_Utilities_Zerocentered_b20günstigerbfont,Analysisrun2_Utilities_Zerocentered_bgenausovielbfont,Analysisrun2_Utilities_Zerocentered_b20teurerbfontsi,ClimateChangeConcern
0,1.0,2.0,3.0,3.0,2.0,1.0,1.0,3.0,4.0,3.0,...,16.957725,18.342044,-35.299769,2.158991,0.349405,-2.508396,101.937275,16.497229,-118.434504,2.500
1,2.0,2.0,6.0,3.0,6.0,1.0,2.0,6.0,5.0,6.0,...,40.019290,25.563747,-65.583037,2.282497,1.006164,-3.288662,108.889423,48.000356,-156.889779,4.375
2,2.0,2.0,5.0,4.0,4.0,4.0,2.0,5.0,5.0,5.0,...,87.182647,10.575534,-97.758181,2.147913,0.837330,-2.985243,83.509249,32.554743,-116.063992,4.250
3,2.0,2.0,7.0,4.0,4.0,4.0,4.0,7.0,7.0,6.0,...,174.239229,-23.124715,-151.114514,0.495531,0.784735,-1.280266,30.596551,48.453413,-79.049964,5.375
4,1.0,2.0,5.0,3.0,2.0,2.0,3.0,3.0,3.0,4.0,...,65.363191,10.648938,-76.012130,3.519745,0.581483,-4.101228,132.373657,21.868915,-154.242572,3.125

In [29]:
data.shape

(636, 23)

In [ ]:
income_transmittion = {
    1: 3000,
    2: 
}